@media only screen and (max-width: 1170px) {
    i {
    padding-left: 17%; 
    padding-block-start: 17%
    }

    .vertical-timeline-element-content{
        width: 70%
    }
}

@media only screen and (min-width: 1170px) {
    i {
    padding-left: 25%; 
    padding-block-start: 25%
    }

    .vertical-timeline-element-content{
        width: 44%
    }
}

.educationContainer {
    background-color: #A7AFD4;
    margin-top: -42px;
}

#title {
    font-weight: bold;
    font-size: 20px;
}

#subtitle {
    font-style: italic;
    font-size: 16px;
}

#paragraph {
    font-size: 14px;
}