.footer {
    background-color: #373a48;
    text-align: center;
    height: 50%;
}

.linkedIn {
  font-size: 30px;
  color: white;
}

.github {
    font-size: 30px;
    margin-right: 40px; 
    color: white; 
}

.linkedIn:hover{
	color:#04669A;
}

.github:hover{
	color: #040204;;
}

.topFooter{
    padding-top: 16px;
}